:root {
  --primaryfont: "Roboto", sans-serif;
  --primarycolor: #2e2f42;
  --whitecolor: #ffffff;
  --secondarycolor: #4d5ae5;
}
body {
  font-family: var(--primaryfont);
  color: #434455;
  background-color: var(--whitecolor);
}

ul,
ol,
a {
  list-style-type: none;
  text-decoration: none;
}
.nav .link {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
}
.Studio {
  color: var(--primarycolor);
}
.list .list-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  list-style: none;
}
.list .list-header:hover,
.list .list-header:focus,
.list .list-header:active {
  color: #404bbf;
}

.link-adress {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
  font-style: normal;
}
.link-adress:hover,
.link-adress:focus,
.link-adress:active {
  color: #404bbf;
}
.main-section {
  background-color: var(--primarycolor);
}
.page-title {
  color: var(--whitecolor);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.button {
  background-color: var(--secondarycolor);
  color: var(--whitecolor);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.features-list h3 {
  color: var(--primarycolor);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-list p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.h2-headings {
  color: var(--primarycolor);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
}
.team {
  background-color: var(--whitecolor);
}
.team h3 {
  color: var(--primarycolor);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team li {
  background-color: var(--whitecolor);
}
.footer {
  background-color: var(--primarycolor);
}
.footer .logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--whitecolor);
}
.footer p {
  color: var(--whitecolor);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.button-list {
  background-color: #e7e9fc;
  color: var(--secondarycolor);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.button-list:hover,
.button-list:focus,
.button-list:active {
  background-color: var(--secondarycolor);
  color: var(--whitecolor);
}
.photo-link h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: inherit;
}
.photo-link {
  color: inherit;
}
.photo-link p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
